$centrado: center;
$espaciomax: 90%;
$espaciotot: 100%;
$decoracion: none;
$imagenc: cover;
$estilo: none;
$borderadio: 5px;
$margin3r: 3rem;
$colorbord: rgba(157, 244, 163, 0.874);
$colortonob1:rgba(82, 202, 90, 0.874);
$colortonob2:rgba(27, 194, 38, 0.874);
$colortonoic: rgba(50, 239, 63, 0.874);
$fuentetitulo: "Bebas Neue", cursive;